<% provide(:title, "About") %>
<h1>About</h1>
<p>The Ruby on Rails Tutorial is available on <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial page</em></a>.</br>
This is a sample application for the tutorial.</p>
